<div class="container">
  <div class="row">
    <h3><%= @post_name %>の投稿一覧</h3>
  </div>

  <div class="row">
    <% @tag_list.each do |tag| %>
      <%= link_to posts_path(tag_id: tag.id) do %>
        <%= tag.name %>
      <% end %>
    <% end %>
  </div>
  <!--投稿の一覧表示の部分テンプレート-->
  <%= render 'post_index', posts: @posts %>
</div>


