<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <div class="main-visual">
        <div class="col-7 main-visual-content mx-auto py-4">
          <p class="main-visual-text text-center text-white ">
            ようこそChari Mateへ！ようこそChari Mateへ！<br>
            Chari Mateはサイクリングが好きな人同士が繋がり、<br>
            お互いに気に入った風景を共有しあうSNSツールです<br>
            カロリーの計算もできるので、エクササイズにも便利！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 my-5">
      <%= link_to "ChariMateをはじめる", new_user_registration_path, class: "btn btn-lg btn-block btn-info text-white" %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
