<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/posts/sidebar' %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <h4 class="text-center">通知</h4>
        </div>
      </div>

      <!--自分の投稿に対するいいね、コメントは通知に表示しない-->
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if @notifications.exists? %>
        <%= render @notifications %>
        <%= paginate notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>